header {
  display: flex;
  width: 100%;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #1E1E1E;
  padding: 20px;
  font-family: 'Foldit', cursive;
  font-family: 'Sigmar', cursive;
  box-shadow: 2px 2px 4px #666565;
  min-width:150px;
}
.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.6vw;
  margin-right: auto;
  margin-bottom: 0;
}
