.meme {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  position: relative;
}
.meme--image {
  max-width: 100%;
  min-width: 500px;
  min-height: 200px;
  object-fit:cover;
  border-radius: 3px;
  margin: 40px;
}

.meme--text {
  position: absolute;
  width: 60%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 10%;
  overflow: hidden;
}

.top {
  top: 10%;
  overflow: hidden;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  flex-direction: row;
  flex-wrap: wrap;
}
.form--button {
  width: 95%;
  height: 50px;
  margin: auto;
  overflow: hidden;
}
.form--input {
  width: 45%;
  height: 30px;
  margin:20px auto;
}
